#web_logo {
  width: 5vw;
  height: 10vh;
  margin-top: 3px;
  margin-left: 3px;
}
.header {
  display: flex;
  gap: 0; /* khoảng cách logo – chữ */
}
#Weebu {
  font-size: 30px;
  font-style: bold;
  color: black;
  margin-top: 15px;
}
#Shop {
  font-size: 30px;
  font-style: bold;
  color: crimson;
  margin-top: 15px;
}
